.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
}

.menu {
    display: block;
    width: 100px;
    background: black;
    color: white;
    cursor: pointer;
    height: 30px;
    line-height: 200%;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.content {
    background: yellow;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    padding: 10px;
}

.active {
    display: block;
}

.menu-active {
    background: red;
    color: white;
}